@charset "utf-8";
* {
    font-size: 25px;

}

p {
    font-size: 2rem;
    font-weight: lighter;
    font-style: italic;
    text-shadow: 5px 5px 5px blue;
    text-align: center;
    text-indent: -400px;
    line-height: 1;
}

body {background-color: chartreuse;}


