@charset "utf-8";
* {
    font-size: 25px;

}

p {
    font-size: 2rem;
    font-weight: lighter;
    font-style: italic;
    text-shadow: 5px 5px 5px blue;
    text-align: center;
    text-indent: 50px;
    line-height: 1;
}

body {background-color: chartreuse;}

.cordefundo {
    color: aliceblue;
    background-color: rgb(153, 80, 51);
    font-size: 50px;
    font-style: italic;
    text-align: start;
  

}


